name: CI/CD Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Use dev, test, prod"
        type: choice
        required: true
        options:
          - dev
          - test
          - prod

      branch:
        description: "Select the branch"
        type: choice
        required: true
        options:
          - master
          - main
          - feature1

env:
  APP_ENV: ${{ inputs.environment }}
  APP_BRANCH: ${{ inputs.branch }}

jobs:
  build:
    name: CI/CD build
    runs-on: ubuntu-latest

    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Print environment
        run: echo "Running in $APP_ENV environment"

      - name: Print branch
        run: echo "Branch selected"
