name: CI/CD Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Use dev, test, prod"
        type: choice
        required: true
        options:
          - dev
          - test
          - prod

      region:
        description: "Select the region"
        type: choice
        required: true
        options:
          - us-east-1
          - eu-west-1
          - ap=southeast-1

env:
  APP_ENV: ${{ inputs.environment }}
  APP_REGION: ${{ inputs.region }}

jobs:
  build:
    name: CI/CD build
    runs-on: ubuntu-latest

    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Print environment
        run: |
          echo "Running in $APP_ENV environment"
          echo "Running in $APP_REGION region"
